
@{
    ViewBag.Title = "NotFound";
}

<div class="panel panel-default ourpanel">
    <div class="panel-body">
        <h1 class="heading">Sorry, the page you're looking for doesn't exist !</h1>
        <img id="error-image" src="~/Content/img/oops.jpg" />
    </div>
</div>

