<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <img id="error-smiley" src="~/Content/img/Error-smiley.jpg" />
        <h2 id="error-message">An error occurred while processing your request !</h2>
    </hgroup>
</body>
</html>
@*<script type="text/javascript">
    history.back();
</script>*@
